<link rel="stylesheet" href="/static/style.css" type="text/css">


<form action="/login" method="POST">
<div class="login">
<div class="login-screen">
<div class="app-title">
<h1>Login</h1>
</div>
<div class="login-form">
<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="username" name="username">
<label class="login-field-icon fui-user" for="login-name"></label></div>
<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="password" name="password">
<label class="login-field-icon fui-lock" for="login-pass"></label></div>

  <form>
            <input type="button" value="Login" onclick="history.back()">
  </form>



</div>
</div>
</div>
</form>

 <style>
        form {
            margin: 1%;
        }

        div {
            margin: 1% 0;
        }
        body {
  background-color: #3AAFA9;
        }
        h3 {
            color: white;
            font-size: 50px;
        }

