<!-- /templates/homepage.html-->

 <!-- Bootstrap Import -->
 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 


<html>
    <head>
        <title>Homepage</title>
    </head>
    <body>
    
     <div class="jumbotron text-center" style="background-color:#2B7A78">
        <h3>Trentoniana Timeline</h3>
	    <h2>Homepage</h2>
	</div>
	
    <div class="container" style="background-color:#3AAFA9">	
	
        <form action="/get-timeline-data" method="POST">
            <div>
            
            <br>
            Load The Timeline In Chronological Order
            <br>
            </div>
            <input type="submit" value="Load Timeline">
        </form>
        
       
        <br>
         <br>
	    <p> Build new form for queries here</p>
        <br>
        <br>
        
        
        <form action="/get-user-data" method="POST">
            <div>

            <br>
		    Press to load user data onto timeline

            <input type="submit" value="Put User data on timeline">
        </form>
        
        <form action="/get-user-data-horizontal" method="POST">
            <div>

            <br>
		    Press to load user data onto timeline - horizontal

            <input type="submit" value="Put User data on timeline - horizontal">
        </form>

    </div>
        
    </body>

    <!-- minimal styling -->
    <style>
        form {
            margin: 1%;
        }

        div {
            margin: 1% 0;
        }
        body {
  background-color: #3AAFA9;
        }
        h3 {
            color: white;
            font-size: 50px;
        }
        
    </style>
</html>
