<!-- /templates/homepage.html-->

 <!-- Bootstrap Import -->
 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 


<html>
    <head>
        <title>Homepage</title>
    </head>
    <body>
	<h3>Homepage</h3>
	
	    <p> Custom postgreSQL command for testing</p>
	
        <form action="/get-timeline-data" method="POST">
            <div>
            Trentoniana Timeline!
            <br>
            Load The Timeline
            <br>
		    Enter a postgreSQL command, e.g. "SELECT * FROM AudioFiles;"
		    <input type="submit" value="Chronological Order">
		 
            </div>
            <input type="submit" value="Load Timeline">
        </form>
        
        
        <br>
         <br>
	    <p> Build new form for queries here</p>
        <br>
        
          
        
        
        
        <form action="/get-user-data" method="POST">
            <div>

            <br>
		    Press to load user data onto timeline

            <input type="submit" value="Put User data on timeline">
        </form>


        
    </body>

    <!-- minimal styling -->
    <style>
        form {
            margin: 1%;
        }

        div {
            margin: 1% 0;
        }
    </style>
</html>
