<!-- /templates/timeline.html-->


              
<html>
    <head>
    
        <title>timeline</title>
        <link href="/static/dist/css/timeline.min.css" rel="stylesheet" />
    </head>

    <!-- Adding some style to table (OPTIONAL) -->
    <style type="text/css">


    th:tr{
        color: blue;
    }
    tr:nth-of-type(2n){
        border: 1px solid black;
        background-color: rgba(150, 150, 150, 0.5);
    }

    td{
        padding: 8px 8px;
        border: 1px solid black;
    }
    
    
    </style>

    <body>
    
        <p id = "demo"></p>
        
        <script>
            document.getElementById("demo").innerHTML = "My Javascript Text";
            //document.getElementById("demo").innerHTML = "My Javascript";
            //var loc = window.location.pathname;
            //var dir = loc.substring(0, loc.lastIndexOf('/'))
            //document.getElementById("demo").innerHTML = loc + "123";
        </script>
    
       
       
        <p> This is the timeline </p>

        <div class="timeline">
          <div class="timeline__wrap">
            <div class="timeline__items">
            
              <div class="timeline__item">
                <div class="timeline__content">
                  Your content / markup
                </div>
              </div>
              
              <div class="timeline__item">
                <div class="timeline__content">
                  Your content / markup
                </div>
              </div>
              
             <!-- nested for loops in jinja template -->

	        {%for row in rows%}
	            <p>Test inserting text in between timeline entries: </p>
	            <p>{{loop.index}}</p>
	            
                {% if loop.index % 2 == 0 %}
	            <div class="timeline__item timeline__item--right fadeIn">
	            {% else %}
	            <div class="timeline__item timeline__item--left fadeIn">
	           {% endif %} 
	            
	            <div class="timeline__content">
	            {%for col in row%}
	                
	                    {{col}}
	                
	            {%endfor%}
	            </div>
	            </div>
	        {%endfor%}              
            </div>
          </div>
        </div>        
        
         
               
        <script>
            //initialize timeline
            timeline(document.querySelectorAll('.timeline'), {
              verticalStartPosition: 'right',
              verticalTrigger: '150px'
            });
        </script>
        
        <script src="/static/dist/js/timeline.min.js"></script>
        
    </body>

</html>
